.projects-main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projects-header {}

.projects-header-title {
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 0.5rem;
  transition: 0.3s;
  font-weight: 600;
  ;
}

.projects-header-title:hover {
  color: var(--primary-color-dark);
}

.projects-header-description {
  color: var(--text-light);
}

.familiar-technologies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  justify-items: center;
}


.familiar-technologies-img-container {
  background-color: rgb(229, 229, 229);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  cursor: pointer;
}

.familiar-technologies-img-container:hover {
  background-color: rgb(200, 200, 200);
  transform: scale(1.1);
}

.familiar-technology-text {
  font-weight: 600;
}

.familiar-img {
  height: 60%;
  width: auto;
  object-fit: contain;
}